<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <title>Wellesley Daily Dish</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--<meta name="keywords" content="wellesley college, wellesley fresh, dining" /> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="stylesheets/main.css" />

    <script type="text/javascript">
      var BOOTSTRAP_WIDTHS = {"xs" : 767, "sm" : 768, "md" : 992, "lg" : 1200};
      var MOBILE_BOUNDARY = 1086;

      function mailScramble(address,suffix,ending) { 
        var a,b,c,d,e;
        a='<a href=\"mai';
        b=address; 
        c='\">'; 
        a+='lto:'; 
        b+='&#64;'; 
        e='</a>';
        b+=suffix;
        b+='.'+ending.substring(0,1);
        b+=ending.substring(1);
        d=b;
        document.write(a+b+c+d+e);
      }

      function placeAlertButton() {
        var width = $(window).width();
        var alertHTMLString = "<button type='submit' class='btn btn-primary' data-toggle='modal' data-target='#alertModal'>"+
              "Set Up Email Alerts</button>"+
              "<div class='modal fade' id='alertModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>"+
              "<div class='modal-dialog'><div class='modal-content'><div class='modal-header'>"+
              "<button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button></div>"+
              "<div class='modal-body'><p>Enter your email to be notified the day before any of the selected foods appear in one of the dining halls!</p>"+
              "<form class='form-inline'><p>"+
              "<input placeholder='domain username' class='form-control email-box' type='text' name='emailaddress' form='pref_form' required>"+
              "&nbsp;@wellesley.edu</p></form></div><div class='modal-footer'>"+
              "<button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>"+
              "<button id='submit_prefs_button' form='pref_form' type='submit' class='btn btn-primary'>Submit</button></div></div></div></div>";
        var parsedHTML = $.parseHTML(alertHTMLString);

        if (width < BOOTSTRAP_WIDTHS["lg"]) { //remove button from side and add to top
          if (!$.trim($("#modal_open_button_box_top").html())) { //if #modal_open_button_box_top is empty
            $("#modal_open_button_box").empty();
            $("#modal_open_button_box_top").append(parsedHTML);
          }
        } else { //remove button from top and add to side
          if (!$.trim($("#modal_open_button_box").html())) { //if #modal_open_button_box is empty
            $("#modal_open_button_box_top").empty();
            $("#modal_open_button_box").append(parsedHTML);
          }
        }

        if (width >= MOBILE_BOUNDARY) {
          //not really the place i guess but make sure all menus are visible
          var nums = ["one", "two", "three", "four", "five"];
          for (id in nums) {
            $('.answer#'+nums[id]).show();
          }
        }
      }

      function resizeFunctions() {
        placeAlertButton();
      }

      $(document).ready(function(){
        $('[class|=question]:not(.no-hide)').click(function(){
          var width = $(window).width();
          if (width < MOBILE_BOUNDARY) {
            $('.answer#'+this.id).toggle();
          }
        });
      });
      

      //responsiveness so only calls at end of resizing
      var resizeTimer;
      $(window).resize(function() {
        clearTimeout(resizeTimer);
        resizeTimer = setTimeout(resizeFunctions, 100);
      });
    </script> 
  </head>

  <body>

    <div id="links_box" class="row">
        <p>
          <h4>
            <a href="" data-toggle="modal" data-target="#aboutModal">About</a> • <a href="" data-toggle="modal" data-target="#contactModal">Contact</a>
          </h4>
        
          <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModal" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                  <p>
                    <i>Hungry for a meal? Got a favorite food you've been waiting to have again? Want to make sure you don't miss a special dining event?</i><br><br>
                    <b>Wellesley Daily Dish is here to help.</b><br><br>
                    Simply visit this site on the day a dish you really like is served and you can set up to be emailed the day before
                    it next appears in any of the five dining halls!*
                    You can also come here to check which food-serving establishments on campus are currently open.<br><br>
                    For questions, comments, and complaints, <a href="" data-dismiss="modal" data-toggle="modal" data-target="#contactModal">contact me</a>.
                    <!--LOOK! FUN MOUNTAINS; NO, FOR REALSIES, TURN YOUR HEAD TO THE RIGHT. MINDBLOWING, RIGHT??? -S :)-->
                    <div id="about_footer" class="modal-footer">
                      <span class="footnote">
                        *Menu info (current and future) is pulled from wellesleyfresh.com, which is not always 100% accurate.
                        So there's a small possibility you might get an exciting email about S'mores Pizza at Tower and instead it's Cinnamon Breadsticks.
                        Hopefully this doesn't happen often, though!
                      </span>
                    </div> 
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModal" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                  <p>
                    Hi! Thanks for stopping by. I'm Madeleine Barowsky ('18), the coder and designer behind Wellesley Daily Dish.<br><br>

                    You can email me at <script type="text/javascript">mailScramble("mbarowsk","wellesley","edu");</script>
                    and/or check out <a href="https://github.com/madeleine-b/WDining">the code</a> on GitHub. Wellesley Daily Dish is built on Google App Engine in Python.
                    <br><br>
                    If you catch any bugs or there's something wrong with the site, please let me know! :)
                  </p>
                </div>
              </div>
            </div>
          </div>

        </p>
    </div>

    </div>

    <div class="header">
      <h1><a href="/"><span class="w-logo">W</span>ellesley Daily Dish</a></h1>
      <h3>{{ date_string }}</h3>
      <div class="button-box col-xs-2" id="modal_open_button_box_top"></div>
    </div>

    <div id="button_row" class="row">
        <div class="menu-box col-xs-2" style="background-color:transparent;border:none;"></div>
        <div class="menu-box col-xs-2">
          <div class="wrapper">
            <h4>Emporium</h4>
            <h6 style="{{'color:#268727;' if emporium_is_open else 'color:#EB240E;'}}" class="open_indicator">({{ 'open' if emporium_is_open else 'closed' }})</h6>
          </div>
        </div>
        <div class="menu-box col-xs-2">
          <div class="wrapper">
            <h4>The Leaky Beaker</h4>
            <h6 style="{{'color:#268727;' if leaky_beaker_is_open else 'color:#EB240E;'}}" class="open_indicator">
              ({{ 'open' if leaky_beaker_is_open else 'closed' }})
            </h6>
          </div>
        </div>
        <div class="menu-box col-xs-2">
          <div class="wrapper">
            <h4>Collins Cafe</h4>
            <h6 style="{{'color:#268727;' if collins_is_open else 'color:#EB240E;'}}" class="open_indicator">({{ 'open' if collins_is_open else 'closed' }})</h6>
          </div>
        </div>
        <div class="button-box col-xs-2" id="modal_open_button_box">
          <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#alertModal">
              Set Up Email Alerts
          </button>

          <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                  <p>Enter your email to be notified the day before any of the selected foods appear in one of the dining halls!</p>
                  
                  <form class="form-inline">
                    <p>
                      <input placeholder="domain username" class="form-control email-box" type='text' name="emailaddress" form='pref_form' required>
                        &nbsp;@wellesley.edu
                    </p>
                  </form>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button id="submit_prefs_button" form="pref_form" type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <p><span style="color:red"><b>NOTE:</b></span> As of 1/23/17, it appears Wellesley Fresh has moved to a new format of posting their online menus, which has broken this site. I'll leave the site as is for now, but it probably won't have any menus up. :(</p>

    <div id="hall_row" class="row">
      <form action="/submission/" id="pref_form" method="post">
        <div id="Lulu" class="menu-box col-sm-12 col-md-2">
          <div class="wrapper">
            <a href="#Lulu" class="question" id="one"><h2>Lulu</h2></a>
            <h4 style="{{'color:#268727;' if lulu.is_open else 'color:#EB240E;'}}" class="open_indicator">({{ 'open' if lulu.is_open else 'closed' }})</h4>
          </div>
          <div class="answer" id="one">
            <p>
              <ul>
              {% for item in lulu.food_items %}
                {% if "*b*" in item %}
                  </ul>
                  <b>{{item[3:]}}</b>
                  <ul>
                  {% else %}
                    <div class='checkbox'>
                      <input type='checkbox' name='{{item}}' value='1'> <li>{{item}}</li>
                    </div>
                {% endif %}
              {% endfor %}
              </ul>
            </p>
          </div>
        </div>

        <div id="Bates" class="menu-box col-sm-12 col-md-2">
          <div class="wrapper">
            <a href="#Bates" class="question" id="two"><h2>Bates</h2></a>
            <h4 style="{{'color:#268727;' if bates.is_open else 'color:#EB240E;'}}" class="open_indicator"> ({{ 'open' if bates.is_open else 'closed' }})</h4>
          </div>
          <div class="answer" id="two">
            <p>
              <ul>
              {% for item in bates.food_items %}
                {% if "*b*" in item %}
                  </ul>
                  <b>{{item[3:]}}</b>
                  <ul>
                  {% else %}
                    <div class='checkbox'>
                      <input type='checkbox' name='{{item}}' value='1'> <li>{{item}}</li>
                    </div>
                {% endif %}
              {% endfor %}
              </ul>
            </p>
          </div>
        </div>

        <div id="Pom" class="menu-box col-sm-12 col-md-2">
          <div class="wrapper">
            <a href="#Pom" class="question" id="three"><h2>Pom</h2></a>
            <h4 style="{{'color:#268727;' if pom.is_open else 'color:#EB240E;'}}" class="open_indicator">({{ 'open' if pom.is_open else 'closed' }})</h4>
          </div>
          <div class="answer" id="three">
            <p>
              <ul>
              {% for item in pom.food_items %}
                {% if "*b*" in item %}
                  </ul>
                  <b>{{item[3:]}}</b>
                  <ul>
                  {% else %}
                    <div class='checkbox'>
                      <input type='checkbox' name='{{item}}' value='1'> <li>{{item}}</li>
                    </div>
                {% endif %}
              {% endfor %}
              </ul>
            </p>
          </div>
        </div>

        <div id="Stone" class="menu-box col-sm-12 col-md-2">
          <div class="wrapper">
            <a href="#Stone" class="question" id="four"><h2>Stone-D</h2></a>
            <h4 style="{{'color:#268727;' if stone.is_open else 'color:#EB240E;'}}" class="open_indicator">({{ 'open' if stone.is_open else 'closed' }})</h4>
          </div>
          <div class="answer" id="four">
            <p>
              <ul>
              {% for item in stone.food_items %}
                {% if "*b*" in item %}
                  </ul>
                  <b>{{item[3:]}}</b>
                  <ul>
                  {% else %}
                    <div class='checkbox'>
                      <input type='checkbox' name='{{item}}' value='1'> <li>{{item}}</li>
                    </div>
                {% endif %}
              {% endfor %}
              </ul>
            </p>
          </div>
        </div>

        <div id="Tower" class="question menu-box col-sm-12 col-md-2">
          <div class="wrapper">
            <a href="#Tower" class="question" id="five"><h2>Tower</h2></a>
            <h4 style="{{'color:#268727;' if tower.is_open else 'color:#EB240E;'}}" class="open_indicator">({{ 'open' if tower.is_open else 'closed' }})</h4>
          </div>
          <div class="answer" id="five">
            <p>
              <ul>
              {% for item in tower.food_items %}
                {% if "*b*" in item %}
                  </ul>
                  <b>{{item[3:]}}</b>
                  <ul>
                  {% else %}
                    <div class='checkbox'>
                      <input type='checkbox' name='{{item}}' value='1'> <li>{{item}}</li>
                    </div>
                {% endif %}
              {% endfor %}
              </ul>
            </p> 
          </div>
        </div>
      </form>   
    </div>
    <!--  INSERT FUN COMMENT HERE   -->
    <script>placeAlertButton();</script>
  </body>
</html>
{% endautoescape %}