div.checkbox li {
	list-style-type: none;
}

body {
	background-color: #F7F7F7;
}

p {
	margin-left: 15px;
}

a {
	color: #002776;
}

a:hover, a:target, a:focus {
	color: #00349d;
}

.header a:hover, .header a:target, .header a:focus {
	text-decoration: none;
    border-bottom: 2px solid #00349d; /*thinner than regular underline*/
}

div#links_box {
	margin-right: 0;
	margin-left: 0;
	margin-bottom: -20px;
	padding-right: 25px;
}

div#links_box h4 {
	float: right;
	margin-bottom: 10px;
	margin-top: 25px;
}

#modal_open_button_box {
	float: right;
}

#about_footer {
	text-align: left;
}

.footnote {
	color: #969696; /*dark light gray*/
	font-size: .9em;
}

.modal-header {
	padding-bottom: 25px;
}

.email-box {
	width: 40%;
}

.header {
	text-align: center;
}

.wrapper {
	overflow: hidden;
	padding-top: 20px;
}

div#hall_row .wrapper h2,
div#button_row .wrapper h4 {
	margin-top: 0;
	overflow: hidden;
	float: left;
}

div#hall_row .wrapper h4,
div#button_row .wrapper h6 {
	display: block;
	margin-top: 0;
	margin-right: 10px;
	overflow: hidden;
}

div#hall_row .wrapper h2,
div#hall_row .wrapper h4 {
	line-height: 50px;
}

div#button_row .wrapper h4,
div#button_row .wrapper h6 {
	line-height: 25px;
}

div#hall_row .wrapper h2 {
	margin-right: 20px;
}

div#button_row .wrapper h4 {
	margin-right: 13px;
}

.btn-primary {
	background-color: #002776;
	border-color: #002162;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	background-color: #00349d;
	border-color: #002d8a;
}

.open_indicator {
	display: block;
}

.menu-box, .button-box {
	margin-left: 25px;
	padding-left: 20px;
	padding-bottom: 10px;
	width: 17.7%;
}

.menu-box {
	background-color: white;
	border-style: solid;
	border-width: 1px;
}

#button_row {
	padding-top: 25px;
}

.row#hall_row, .row#button_row {
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20px;
}


@media (min-width: 750px) { /*equivalent to @screen-sm-min but I'm not using LESS*/
	.row#hall_row {
		padding-bottom: 50px;
	}
}

